* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  --section-padding: 24px;
  color: hsl(0deg, 0%, 0%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
h1,
h2,
h3 {
  margin: 0;
}

html {
  font-size: 1.125rem;
}

.max-width-wrapper {
  min-width: min-content;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 24px;
}

.intro-chunk {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 400px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.intro-chunk .title {
  margin-bottom: 48px;
  font-size: 2rem;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  /* height: 100%; */
  padding: 96px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 8px;
  padding-bottom: 16px;
  padding: 24px;
  margin: -24px;
  /* margin-top: 64px; */
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.card p {
  /* padding-right: var(--section-padding);
  padding-left: var(--section-padding); */
  font-size: 1rem;
  line-height: 1.4;
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  width: -moz-fit-content;
  min-width: min-content;
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  font-size: 1.5rem;
}
